body
{
  background-color: #f0f0f0;
  font-family: "Lora", serif;
  color: #333;
}
.logo
{
  display: block;
  margin: 60px auto 30px;
  max-width: 300px;
  height: auto;
}
.title
{
  text-align:center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.subtitle
{
  text-align: center;

  font-weight: bold;
  font-style: italic;

}
.copy
{
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
